doctype 5
html(lang="en")
  head
    title= "Asheville Crime Map"
    meta(http-equiv="Content-Type", content="text/html; charset=iso-8859-1")

    link(rel="stylesheet" href="/avlcrime/resources/css/main.css")
    link(rel="stylesheet" href="/avlcrime/resources/vendor/leaflet/leaflet.css")
    link(rel="stylesheet" href="/avlcrime/resources/vendor/bootstrap/css/bootstrap.min.css")
    //link(rel="stylesheet" href="/avlcrime/resources/css/nv.d3.css")
  body
    div.container(ng-app="CrimeApp")
      div.row
        div.page-header
          h1 Crime Mapper
            small  Asheville, NC 
      div.row
        div.main.centered.col-md-3(ng-controller="FormController")
          form(ng-submit="")
            div.row-fluid.btn-group-vertical(data-toggle="buttons-checkbox")
              button.btn.btn-default(ng-repeat="offense in offenses" ng-model="offense.selected" value="{{offense.name}}" type="checkbox" checkbox-toggle="") 
                div.keyCircle(style="background-color:{{offense.color}}")
                {{offense.name}} 
        div.main.centered.col-md-9(ng-controller="DisplayController")
          div#map
      div.row
        br
        div.col-md-12
          div.well.well-sm
           h4 The data and information this application provides is to be used as a guide for crime reported to the Asheville Police Department (APD).
           h4 The time period for crime data included in this application is for the past year only.
           ul
            li 
              b Homicide: 
              The willful (nonnegligent) killing of one human being by another.
            li 
              b Rape: 
              The carnal knowledge of a female forcibly and against her will.
            li 
              b Robbery: 
              The taking or attempting to take anything of value by force or threat.
            li 
              b Aggravated Assault: 
              The unlawful attack by one person upon another for the purpose of inflicting severe bodily harm.
            li 
              b Burglary: 
              The unlawful entry of a structure to commit a felony or theft.
            li 
              b Larceny: 
              The unlawful taking or stealing of property without the use of force, violence, or fraud.
            li 
              b Larceny of Motor Vehicle: 
              The unlawful taking or stealing of a motor vehicle, including attempts.
            li 
              b Vandalism: 
              The malicious destruction, injury, disfigurement or defacement of real or personal property.
            li 
              b Drugs: 
              State and/or local offenses relating to the unlawful possession, sale, use, growing, manufacturing, and making of narcotic drugs including opium or cocaine and their derivatives, marijuana, synthetic narcotics, and dangerous nonnarcotic drugs such as barbiturates. 
    script(type="text/javascript" src="/avlcrime/resources/js/jquery-1.7.1.min.js")
    script(type="text/javascript" src="/avlcrime/resources/vendor/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript" src="/avlcrime/resources/js/angular.min.js")
    script(type="text/javascript" src="/avlcrime/resources/vendor/leaflet/leaflet.js")
    //script(type="text/javascript" src="/avlcrime/resources/js/d3.v3.min.js")
    //script(type="text/javascript" src="/avlcrime/resources/js/nv.d3.min.js")
    script(type="text/javascript" src="/avlcrime/resources/js/controllers.js")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45059432-1', 'ethanshepherd.com');
      ga('send', 'pageview');


