body {
  background-image: url("/avlcrime/resources/img/cream_pixels.png");
}
.centered {
	text-align: center;
}
.keyCircle{
  border: 1px solid #333;
  border-radius: 50%;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px 0 0;
}

#chart1{
  text-align: center;
}
#map{
  height: 450px;
  z-index: 50;
}
#map-spinner{
  width: 100%;
  position: relative;
  z-index: 100;
}
#map-spinner img{
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
